.about-top-sec-container {

    background-color: #583BEC;
}

.about-top-sec {
   padding: 50px 0px;
    background-color: #f7f8fd;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    p {

        font-family: "Open Sans";
        font-size: 22px;
        font-weight: 600;
        text-align: left;
        color: #000;
    }

    span {
        color: #583BEC;
    }

}

/* /////////////////////////  ABOUT SECTION MIDDLE /////////////////////// */

.middle-sec-container {
    width: 95%;
    margin: auto;
    padding: 50px;

    .headings {

        .heading {
            font-family: "Inter", sans-serif;
            font-size: 50px;
            font-weight: 600;

            line-height: 1.31;
            text-align: center;
            color: #000;


            span {
                color: #583BEC;
            }

            
        }

        .desc {
            margin-top: 8px;
            font-size: 20px;
            line-height: 1.45;
            text-align: center;
            color: #3b3b3bcb;

        }

    }

}

.middle-sec-item-container {

    margin-top: 50px;
    gap: 30px;
    justify-content: center;


}

/* /////////////////////////  ABOUT SECTION  ITEM /////////////////////// */
.item-container {

    flex: 1;
    min-width: 28%;
    /* min-height: 350px; */
    padding: 30px 25px;
    transition: .5s all ease;
    border-radius: 30px;
    border: 1px solid #BBBBBB;
    cursor: pointer;

    &:hover {
        box-shadow: 0 28px 26.2px 3px rgba(139, 139, 139, 0.1);
        border: solid 1px #583bec;
    }


    .item-top {
        padding: 10px 0px;
        border-radius: 100px;
        width: 46%;
       
        border: 1px solid #583BEC;


        svg {
            height: 40px;
            width: 40px;
        }
    }

    .item-heading {
        margin-top: 30px;
        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-weight: 600;

        line-height: 1.2;
        text-align: center;
        color: #583bec;
    }

    .item-desc {
        /* display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden; */
        margin-top: 20px;
        text-align: center;
        font-size: 16px;
        color: #575757;
    }
}