.right-slider-menu {
    width: fit-content !important;
    background-color: #583BEC;
}

.right-slider-menu-header {

    padding: 10px 0px;
    height: 50px;
}

.right-slider-menu-body {

    margin: auto;
    flex-grow: 0;

    display: flex;
    justify-content: center;
    scrollbar-width: none;

    flex-wrap: nowrap;
    padding-bottom: 10vh;

    ul {
        width: fit-content;

        padding: 0 20px;
        overflow: auto;
        scrollbar-width: none;



        li {


            padding-bottom: 5px;
            margin: 0px;
            text-align: center;
            width: 100%;
            border: none !important;

            a {

                color: rgb(255, 255, 255);
                width: fit-content;
                transition: .2s all ease;

             
            }

            .active {
                border-bottom: 2px solid #4bcd3e;
            }
        }

    }
}

.header-container {
    max-width: 95%;
    margin: auto;
padding: 0px 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.199);
position: relative;
&::before{
    content: "";

    position: absolute;
    top: 0;
 
    bottom: 0;
    width: 100vw;
    margin: auto;
    z-index: -1;
    background-color: #583BEC;

}


}

.header-items {
    transition: .3s all ease;
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    z-index: 999;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow-x: hidden;
    border-bottom: 2px solid rgba(0, 0, 0, 0.13);
    max-height: 100vh;


    .header-close-btn {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }



    ul {

        width: 100%;
        margin: 0px;
        padding: 0px;

        li {
            display: flex;
            padding: 0px;
            margin: 0px;

            a {
                text-align: center;
                color: black;
                padding: 6px;
                font-size: 14px;
                background-color: #ffffff;
                width: 100%;
                transition: .1s all ease;

                &:hover {
                    background-color: #583BEC;
                    color: white;
                }
            }
        }
    }
}

.header {

  padding: 5px 0px;

    .header-menu-icon {

        svg {
            cursor: pointer;
            fill: white;
        }
    }

    .logo {
        user-select: none;
    }

    .right {
        gap: 6px;

        button {


            cursor: pointer;
            border-radius: 100px;
            padding: 8px 20px;

            border: none;
            font-size: 16px;
            font-weight: 700;
            gap: 2px;
            align-items: center;


        }

        button span {
            padding-bottom: 1px;

        }

        .btn-close {
            height: 25px;
            width: 25px;
        }

        button:nth-child(3) {
            height: 42px;
            width: 42px;
            padding: 0px;
        }
    }


    .header-btn-order {
        background-color: #4bcd3e;


        span {
            color: white;
        }


    }


    .header-btn-login {
        background-color: white;

        span {
            color: #583BEC;
        }
    }

   

    li {
        margin-right: 20px;
        list-style: none;
        color: white;

        padding: 8px 0px;
   

        a {

            cursor: pointer;
            color: white;
            font-weight: 600;
            text-decoration: none;
            transition: 0.2s all ease;

            /* &:hover {
                color: black;
            } */
        }
    }

    .active {
        border-bottom: 2px solid #4BE73B;
    }
}



.header-details {
    position: relative;

    .header-summary {
        list-style: none;
        transition: .2s all ease;
        font-weight: 600;

        /* &:hover{
            color: black;
            
        } */

    }

    ul {
        position: absolute;
        padding-left: 0px;
        top: 30px;
        background-color: white;
        min-width: 150px;
        border-radius: 10px;

        li {
            width: 100%;
            padding: 0;
            display: flex;

            a {
                flex-grow: 1;
                color: black;
                padding: 10px 15px;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.055);
                }
            }
        }
    }
}