
.main-container {
    background-color: #583bec;
    padding: 100px 100px;
  }
  
  .main-small-heading {
    color: white;
    font-size: 22px;
    padding-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    position: relative;
  }
  
  .main-small-heading::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 3px;
    width: 52px;
    background-color: #4be73b;
  }
  
  .main-large-heading {
    font-family: "Inter", sans-serif;
    font-size: 52px;
    font-weight: bold;
    line-height: 1.23;
    text-align: center;
    color: #fff;
  }
  
  .main-desc-text {
    margin-top:20px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: #fff;
  }
  
  .main-bottom-container {
    gap: 15px;
    margin-top: 60px;
  }
  
  .main-bottom-item {
    font-size: 16px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 6px 20px;

    border-radius: 100px;
    border: solid 1px #fff;
    background-color: #fff;
    font-weight: 500;

  }
  